<ul class="nav nav-pills nav-stacked">
	<li id="homeItemMenu"><a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a></li>        
	<li id="pesquisaOACItemMenu"><a href="/pesquisar_oac"><span class="glyphicon glyphicon-search"></span>  Pesquisar OAC</a></li>
	<li id="incluirOACItemMenu"><a href="/incluir_oac"><span class="glyphicon glyphicon-upload"></span>  Incluir OAC</a></li>
	<li id="incluirVersaoCustomizadaItemMenu"><a href="/incluir_versao_customizada"><span class="glyphicon glyphicon-upload"></span>  Incluir Versão Customizada</a></li>
</ul> 