<ul class="nav nav-pills nav-stacked">
	<li id="homeItemMenu"><a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a></li>        
	<li id="pesquisaOACItemMenu"><a href="/pesquisar_oac"><span class="glyphicon glyphicon-search"></span>  Pesquisar OAC</a></li>
	<li id="incluirOACItemMenu"><a href="/incluir_oac"><span class="glyphicon glyphicon-upload"></span>  Incluir OAC</a></li>
	<li id="incluirVersaoCustomizadaItemMenu"><a href="/incluir_versao_customizada"><span class="glyphicon glyphicon-upload"></span>  Incluir Versão Customizada</a></li>
	<li id="administracaoItemMenu" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-down"></span>  Administração</a>
        <ul class="dropdown-menu">
          	<li id="gerenciarUsuariosItemMenu"><a href="/pesquisar_usuario"><span class="glyphicon glyphicon-user"></span>  Gerenciar Usuários</a></li>
			<li id="gerenciarPapeisItemMenu"><a href="/pesquisar_papel"><span class="glyphicon glyphicon-cog"></span>  Gerenciar Papéis</a></li>
          	<li id="gerenciarOperaçõesItemMenu"><a href="/pesquisar_operacao"><span class="glyphicon glyphicon-cog"></span>  Gerenciar Operações</a></li>
        </ul>
    </li>
</ul> 