<nav class="navbar navbar-default">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><em>CLOWebPlatform</em></a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if (!authenticatedUser) { %>
          <li><a href="/incluir_usuario"><span class="glyphicon glyphicon-user"></span> Cadastrar</a></li>
        <% } %>
        <% if (!authenticatedUser) { %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
        <% } %>
        <% if (authenticatedUser) { %>
          <li><a href="/realizarLogout"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>