# Node Modules #
###################
node_modules/*
# file directory #
###################
file/
# sent directory #
###################
sent/
# file Passo-a-Passo.txt #
###################
Passo-a-Passo.txt