<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">
	    function checkEmailConfirm(emailConfirm) {
	        if (emailConfirm != document.getElementById('email').value) {
	            document.getElementById('emailConfirm').setCustomValidity("Email de confirmação não corresponde ao informado");
	        } else {	            
	            document.getElementById('emailConfirm').setCustomValidity("");
	        }
	    }

	    function checkPasswordConfirm(passwordConfirm) {
	        if (passwordConfirm != document.getElementById('password').value) {
	            document.getElementById("passwordConfirm").setCustomValidity("Senha de confirmação não corresponde à informada");
	        } else {	            
	            document.getElementById("passwordConfirm").setCustomValidity("");
	        }
	    }
	</script>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li class="active">Cadastro de Usuário</li>
			</ol>

			<form action="/incluirUsuario" method="post" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="UTF-8">				

				<div class="form-group">
					<label for="name" class="control-label col-sm-3">Nome <span class="required">*</span> :</label>
					<div class="col-sm-9">
						<input id="name" name="name" type="text" class="form-control" required/>
						<span class="help-block">Informe o seu nome</span>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="control-label col-sm-3">Email <span class="required">*</span> :</label>
					<div class="col-sm-9">
						<input id="email" name="email" type="email" class="form-control" required/>
						<span class="help-block">Informe o seu email</span>
					</div>
				</div>
				<div class="form-group">
					<label for="emailConfirm" class="control-label col-sm-3">Confirmação de Email <span class="required">*</span> :</label>
					<div class="col-sm-9">
						<input id="emailConfirm" name="emailConfirm" type="email" class="form-control" oninput="checkEmailConfirm(this.value);" required/>
						<span class="help-block">Confirme o email informado</span>
					</div>
				</div>
				<div class="form-group">
					<label for="profile" class="control-label col-sm-3">Perfil :</label>
					<div class="col-sm-9">
						<textarea id="profile" name="profile" rows="5" class="form-control"></textarea>
						<span class="help-block">Informe uma descrição que detalhe o seu Perfil Acadêmico e/ou Profissional (necessária para atribuição do Grau de Liberdade e dos Papéis de Acesso)</span>
					</div>
				</div>
				<div class="form-group">
					<label for="login" class="control-label col-sm-3">Login <span class="required">*</span> :</label>
					<div class="col-sm-9">
						<input id="login" name="login" type="text" class="form-control" required/>
						<span class="help-block">Informe o seu login</span>
					</div>					
				</div>			
				<div class="form-group">
					<label for="password" class="control-label col-sm-3">Senha <span class="required">*</span> :</label>
					<div class="col-sm-3">
						<input id="password" name="password" type="password" class="form-control" required/>
						<span class="help-block">Informe a sua senha</span>
					</div>
					<label for="passwordConfirm" class="control-label col-sm-3">Confirmação de Senha <span class="required">*</span> :</label>
					<div class="col-sm-3">
						<input id="passwordConfirm" name="passwordConfirm" type="password" class="form-control" oninput="checkPasswordConfirm(this.value);" required/>
						<span class="help-block">Confirme a senha informada</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<span class="required"><small>* Campos Obrigatórios</small></span>
					</div>
				</div>			

				<% if (!authenticatedUser) { %>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="submit" name="btnSalvar" class="btn btn-info" value="Salvar"/>
						</div>	
					</div>
				<% } %>
			</form>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>