<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li class="active">Incluir OAC</li>
			</ol>		
	      	
	      	<form action="/incluirOAC" method="post" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="UTF-8"
	      	onsubmit="$('#enviando').modal('show');" >
	      		<div class="form-group">
    				<label for="fileInput" class="control-label col-sm-3">Pacote de Implantação <span class="required">*</span> :</label>
    				<div class="col-sm-9">
    					<input id="fileInput" name="fileInput" type="file" class="form-control" required>
    					<span class="help-block">Informe o arquivo .ZIP gerado pelo <em>CLOStudio</em></span>
    				</div>
	      		</div>
	      		<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<span class="required"><small>* Campos Obrigatórios</small></span>
					</div>
				</div>
				<% if (authenticatedUser && operationCodes.indexOf('incluir_oac') != -1) { %>
		      		<div class="form-group">
	    				<div class="col-sm-offset-3 col-sm-9">
	    					<input type="submit" name="btnEnviar" class="btn btn-info" value="Enviar" />
	    				</div>
		      		</div>
		      	<% } %>

		      	<div id="enviando" class="modal fade text-left" role="dialog" data-backdrop="static" data-keyboard="false">			        
			        <div class="modal-dialog">
					    <div class="modal-content">					    	
					        <div class="modal-body">
					        	<h4>Enviando Pacote de Implantação de OAC...</h4>
					        	<div class="progress">
									<div id="progressBarEnviando" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
								</div>					            
					        </div>
					    </div>
					</div>
			    </div>

	      	</form>	
	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>