<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</a></li>
			  <li class="active">Incluir Versão Customizada</li>
			</ol>

	      	<form action="/sent" method="post" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="UTF-8" id="formData">
	      		<div class="form-group">
    				<label for="title" class="control-label col-sm-2">Título :</label>
    				<div class="col-sm-10">
    					<input id="title" name="title" type="text" class="form-control">
    					<span class="help-block">Informe o título que identificará a sua Versão Customizada</span>
    				</div>
	      		</div>
	      		<div class="form-group">
    				<label for="languages" class="control-label col-sm-2">Idiomas :</label>
    				<div class="col-sm-10">
    					<input id="languages" name="languages" type="text" class="form-control">
    					<span class="help-block">Informe para quais idiomas a Versão Customizada estará disponível (informe-os separados por ";")</span>
    				</div>
	      		</div>
	      		<div class="form-group">
    				<label for="description" class="control-label col-sm-2">Descrição :</label>
    				<div class="col-sm-10">
    					<textarea id="description" name="description" rows="5" class="form-control"></textarea>
    					<span class="help-block">Informe uma descrição detalhada das customizações realizadas para esta nova Versão</span>
    				</div>
	      		</div>
	      		<div class="form-group">
    				<label for="fileInput" class="control-label col-sm-2">Pacote de Implantação :</label>
    				<div class="col-sm-10">
    					<input id="file" type="file" class="form-control" name="fileInput">
    					<span class="help-block">Informe o arquivo .ZIP resultante do processo de customização</span>
    				</div>
	      		</div>
	      		<div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
    					<input type="submit" name="btnEnviar" class="btn btn-info" value="Enviar">
    				</div>
	      		</div>
	      		
	      	</form>	
	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>