<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
			<ol class="breadcrumb">
			  <li class="active">Home</a></li>
			</ol>

			<h2>Seja bem-vindo!</h2>
			<p>Você está na Plataforma Web de interação com o <em>CLORepository</em>, repositório em que 
				Objetos de Aprendizagem Customizáveis (OAC's) podem ser obtidos, armazenados e gerenciados.</p>
			<br/>  
			<p><strong>Você poderá realizar as seguintes operações:</strong></p>  
			<ul>
				<li>Pesquisar OAC</li>
				<li>Incluir OAC</li>
				<li>Incluir Versão Customizada</li>
			</ul>
			<br/>

	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>