<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</a></li>
			  <li class="active">Pesquisar OAC</li>
			</ol>
			<label for="fileInput" class="control-label col-sm-2">Pesquisar:</label>
			<form action="/iniciar_busca" role="form" class="form-horizontal" accept-charset="UTF-8">
			<input type="text" style="resize:none; width: 20%" id="message_input" class="form-control"></input>
			<br><br>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" name="btnBuscar" class="btn btn-info" value="Buscar" class="form-control">
				</div>
			</div>
			</form>
			<br>
			<% if(files) {%>
				<% for(var i = 0; i < files.length; i++){ %>
					<p><%= files[i].title %></p>
					<ul>
						<% for(var j = 0; i < files.exec.length; i++){ %>
							<li><a href="/OAC?<%= files[i].exec[j]._id%>&filePath<%= files[i].exec[j].path%>"><%= files[i].exec[j].ext%></a></li>
						<% } %>
				<% } %>
			<% } %>
				</ul>
			<br><br>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>