<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">	    
	    function checkNewPasswordConfirm(newPasswordConfirm) {
	        if (newPasswordConfirm != document.getElementById('newPassword').value) {
	            document.getElementById("newPasswordConfirm").setCustomValidity("Senha de confirmação não corresponde à informada");
	        } else {	            
	            document.getElementById("newPasswordConfirm").setCustomValidity("");
	        }
	    }
	</script>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li>Redefinir Senha</li>			  
			</ol>	

			<form action="/redefinirSenha" method="post" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="UTF-8">		

				<input id="email" name="email" type="hidden" value="<%= email %>" />
				<input id="code" name="code" type="hidden" value="<%= code %>" />

				<div class="form-group">
					<label for="newPassword" class="control-label col-sm-3">Nova Senha <span class="required">*</span> :</label>
					<div class="col-sm-4">
						<input id="newPassword" name="newPassword" type="password" class="form-control" required/>
						<span class="help-block">Informe a nova senha</span>
					</div>					
				</div>
				<div class="form-group">
					<label for="newPasswordConfirm" class="control-label col-sm-3">Confirmação de Nova Senha <span class="required">*</span> :</label>
					<div class="col-sm-4">
						<input id="newPasswordConfirm" name="newPasswordConfirm" type="password" class="form-control" oninput="checkNewPasswordConfirm(this.value);" required/>
						<span class="help-block">Confirme a nova senha informada</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<span class="required"><small>* Campos Obrigatórios</small></span>
					</div>
				</div>

				<% if (!authenticatedUser) { %>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="submit" name="btnRedefinirSenha" class="btn btn-info" value="Redefinir Senha"/>
						</div>	
					</div>
				<% } %>	
			</form>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>