<head>
	<title>CLORepository Web Plataform</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="ejs_production.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	    $(function(){
	    	$("#pageHeader").load("/page_header.html");
	    	$("#header").load("/header.html"); 
	    	$("#menu").load("/menu.html"); 
	    	$("#pageFooter").load("/page_footer.html"); 
	    });
    </script>
	<style> 
	ul
	{
		display: block;
		list-style-type: disc;
		margin-top: 1em;
		margin-bottom: 1 em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
	}
	</style>
</head>